.contact {
  width: 65%;
  margin: 40px auto;
  margin-top: 40px;

  @media screen and(max-width: 800px) {
    margin: 20px;
    width: 90%;
  }

  .note {
    color: red;
    font-size: 20px;
  }
  .numbers {
    font-weight: 800;
    font-size: 30px;
  }
}
